In [3]:
with open(file = 'jaja.txt', mode = 'a') as f:
    f.write('I\'m exhausted men')

In [4]:
import json
data_dictionary = { 'books': 12,
'articles': 100, 'subjects': ['math',
'programming', 'data science']}
json_string = json.dumps(data_dictionary)
print(json_string)

{"books": 12, "articles": 100, "subjects": ["math", "programming", "data science"]}

In [6]:
data_dict = json.loads(json_string)
print(data_dict)

{'books': 12, 'articles': 100, 'subjects': ['math', 'programming', 'data science']}

In [9]:
with open(file = 'json_test.json', mode = 'w') as f: 
    json.dump(data_dictionary, f)

In [8]:
with open(file = 'reading.json') as f:
    loaded_data = json.load(f)
print(loaded_data)

{'books': 12, 'articles': 100, 'subjects': ['math', 'programming', 'data science']}

In [10]:
import credentials as creds
print(f'username: {creds.username}\npassword: {creds.password}')

username: datasci
password: iscool

In [11]:
import pickle as pk 
with open('readings.pk', 'wb') as f:
    pk.dump(data_dictionary, f)

In [13]:
with open('readings.pk', 'rb') as f:
    data = pk.load(f)
print(data)

{'books': 12, 'articles': 100, 'subjects': ['math', 'programming', 'data science']}

In [14]:
import sqlite3
connection = sqlite3.connect('chinook.db')
cursor = connection.cursor()

In [16]:
cursor.execute('SELECT * FROM artists LIMIT 10;')
cursor.fetchall()

[(1, 'AC/DC'),
 (2, 'Accept'),
 (3, 'Aerosmith'),
 (4, 'Alanis Morissette'),
 (5, 'Alice In Chains'),
 (6, 'Antônio Carlos Jobim'),
 (7, 'Apocalyptica'),
 (8, 'Audioslave'),
 (9, 'BackBeat'),
 (10, 'Billy Cobham')]

In [17]:
query = """
SELECT Total, InvoiceDate
FROM invoices
ORDER BY Total DESC
LIMIT 10;
"""
cursor.execute(query)
cursor.fetchall()

[(25.86, '2013-11-13 00:00:00'),
 (23.86, '2012-08-05 00:00:00'),
 (21.86, '2010-02-18 00:00:00'),
 (21.86, '2011-04-28 00:00:00'),
 (18.86, '2010-01-18 00:00:00'),
 (18.86, '2011-05-29 00:00:00'),
 (17.91, '2010-01-13 00:00:00'),
 (16.86, '2012-09-05 00:00:00'),
 (16.86, '2012-10-06 00:00:00'),
 (15.86, '2010-03-21 00:00:00')]

In [19]:
query = """
SELECT Total, BillingCountry
FROM invoices
WHERE BillingCountry == "Canada"
LIMIT 10;
"""
cursor.execute(query)
cursor.fetchall()

[(8.91, 'Canada'),
 (8.91, 'Canada'),
 (0.99, 'Canada'),
 (1.98, 'Canada'),
 (13.86, 'Canada'),
 (0.99, 'Canada'),
 (1.98, 'Canada'),
 (1.98, 'Canada'),
 (13.86, 'Canada'),
 (3.96, 'Canada')]

In [21]:
query = """
SELECT Total, BillingCountry
FROM invoices
WHERE BillingCountry LIKE "%can%"
ORDER BY Total DESC
LIMIT 10;
"""
cursor.execute(query)
cursor.fetchall()

[(13.86, 'Canada'),
 (13.86, 'Canada'),
 (13.86, 'Canada'),
 (13.86, 'Canada'),
 (13.86, 'Canada'),
 (13.86, 'Canada'),
 (13.86, 'Canada'),
 (13.86, 'Canada'),
 (9.91, 'Canada'),
 (8.91, 'Canada')]

In [22]:
query = """
SELECT SUM(Total) AS Total, BillingCountry
FROM invoices
GROUP BY BillingCountry
ORDER BY 1 DESC
LIMIT 10;
"""
cursor.execute(query)
cursor.fetchall()

[(523.0600000000003, 'USA'),
 (303.9599999999999, 'Canada'),
 (195.09999999999994, 'France'),
 (190.09999999999997, 'Brazil'),
 (156.48, 'Germany'),
 (112.85999999999999, 'United Kingdom'),
 (90.24000000000001, 'Czech Republic'),
 (77.23999999999998, 'Portugal'),
 (75.25999999999999, 'India'),
 (46.62, 'Chile')]

In [24]:
query = """
SELECT i.BillingCountry, items.TrackId
FROM invoices as i
JOIN invoice_items as items
ON i.InvoiceId = items.InvoiceId
LIMIT 10;
"""
cursor.execute(query)
cursor.fetchall()

[('Germany', 2),
 ('Germany', 4),
 ('Norway', 6),
 ('Norway', 8),
 ('Norway', 10),
 ('Norway', 12),
 ('Belgium', 16),
 ('Belgium', 20),
 ('Belgium', 24),
 ('Belgium', 28)]

In [93]:
cursor.execute("PRAGMA table_info(artists);")
cursor.fetchall()

[(0, 'ArtistId', 'INTEGER', 1, None, 1),
 (1, 'Name', 'NVARCHAR(120)', 0, None, 0)]

In [88]:
query = """
SELECT 
    items.TrackId,
    Count(items.TrackId),
    i.BillingCountry
FROM invoices as i
JOIN invoice_items as items ON i.InvoiceId = items.InvoiceId
GROUP BY 3
ORDER BY 2 DESC
LIMIT 10;
"""
cursor.execute(query)
cursor.fetchall()

[(99, 494, 'USA'),
 (42, 304, 'Canada'),
 (234, 190, 'France'),
 (738, 190, 'Brazil'),
 (2, 152, 'Germany'),
 (274, 114, 'United Kingdom'),
 (927, 76, 'Portugal'),
 (1434, 76, 'Czech Republic'),
 (702, 74, 'India'),
 (1391, 38, 'Sweden')]

In [95]:
query = """
SELECT 
    items.TrackId,
    t.Name,
    a.Title,
    aa.Name,
    Count(items.TrackId),
    i.BillingCountry
FROM invoices as i
JOIN invoice_items as items ON i.InvoiceId = items.InvoiceId
JOIN tracks as t ON items.TrackId = t.TrackId
JOIN albums as a ON t.AlbumId = a.AlbumId
JOIN artists as aa ON a.ArtistId = aa.ArtistId
GROUP BY 6
ORDER BY 5 DESC
LIMIT 5;
"""
cursor.execute(query)
cursor.fetchall()

[(99, 'Your Time Has Come', 'Out Of Exile', 'Audioslave', 494, 'USA'),
 (42,
  'Right Through You',
  'Jagged Little Pill',
  'Alanis Morissette',
  304,
  'Canada'),
 (234, 'Morena De Angola', 'Minha Historia', 'Chico Buarque', 190, 'France'),
 (738,
  'Admirável Gado Novo',
  'Cássia Eller - Sem Limite [Disc 1]',
  'Cássia Eller',
  190,
  'Brazil'),
 (2, 'Balls to the Wall', 'Balls to the Wall', 'Accept', 152, 'Germany')]

In [96]:
connection.close()

In [97]:
book_data = [
('12-1-2020', 'Practical Data Science With Python', 19.99, 1), ('12-15-2020', 'Python Machine Learning', 27.99, 1),
('12-17-2020', 'Machine Learning For Algorithmic Trading', 34.99, 1)
]

In [98]:
connection = sqlite3.connect('book_sales.db')
cursor = connection.cursor()

In [99]:
query = """
CREATE TABLE IF NOT EXISTS book_sales
(date text, book_title, text, price real, quantity real)
"""
cursor.execute(query)
connection.commit()

In [100]:
cursor.execute("INSERT INTO book_sales VALUES (?,?,?,?)", book_data[0])
connection.commit()

In [102]:
cursor.execute("SELECT * FROM book_sales")
cursor.fetchall()

[('12-1-2020', 'Practical Data Science With Python', 19.99, 1.0),
 ('12-15-2020', 'Python Machine Learning', 27.99, 1.0),
 ('12-17-2020', 'Machine Learning For Algorithmic Trading', 34.99, 1.0),
 (None, 'machine learining', 10.99, None),
 ('12-1-2020', 'Practical Data Science With Python', 19.99, 1.0)]

In [103]:
connection.close()

In [3]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///book_sales.db')
connection = engine.connect()

In [4]:
result = connection.execute("SELECT * FROM book_sales")

In [5]:
list(result)

[('12-1-2020', 'Practical Data Science With Python', 19.99, 1.0),
 ('12-15-2020', 'Python Machine Learning', 27.99, 1.0),
 ('12-17-2020', 'Machine Learning For Algorithmic Trading', 34.99, 1.0),
 (None, 'machine learining', 10.99, None),
 ('12-1-2020', 'Practical Data Science With Python', 19.99, 1.0)]